@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}
@model Account
<link href="~/css/login.css" rel="stylesheet" />
<div class="login-container">
    @using (Html.BeginForm("Login", "Access", FormMethod.Post, new { @id = "login-container" }))
    {
        <h2>Đăng Nhập</h2>

            <div class="form-group">
            <label for="Phone">SĐT</label>
            <input type="text" id="Phone" name="Phone" required />
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="Password" required />
            </div>

        <p class="register-link">Chưa có tài khoản? <a asp-controller="Access" asp-action="Register">Đăng Ký</a></p>

            <button type="submit" class="login-btn">Đăng Nhập</button>
        </form>
    }
</div>



