<link href="~/css/register.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_LayoutAccess.cshtml";
}
@model Account
    <div class="registration-form">
        @using (Html.BeginForm("Register", "Access", FormMethod.Post, new { @id = "registration-form" }))
        {
            <h2>Đăng Ký Tài Khoản</h2>
            <form action="/register" method="post">

                <div class="form-group">
                    <label for="name">Họ tên</label>
                <input type="text" id="name" name="User.Name" required>
                    <span class="error-message" id="error-name" style="display:none;color:red;">Vui lòng nhập họ tên</span>
                </div>

                <div class="form-group">
                    <label for="phone">SĐT</label>
                    <input type="tel" id="phone" name="phone" required>
                    <span class="error-message" id="error-phone" style="display:none;color:red;">Số điện thoại không hợp lệ</span>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                <input type="email" id="email" name="User.Email" required>
                <span class="error-message" id="error-email" style="display:none;color:red;">Email không hợp lệ</span>
                </div>

                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" required>
                <span class="error-message" id="error-password" style="display:none;color:red;">Mật khẩu phải ít nhất 8 ký tự</span>
                </div>

                <div class="form-group">
                    <label for="repassword">Nhập lại mật khẩu</label>
                    <input type="password" id="repassword" name="repassword" required>
                    <span class="error-message" id="error-repassword" style="display:none;color:red;">Mật khẩu không khớp</span>
                </div>

                <p class="login-link">Đã có tài khoản? <a class="" asp-area="" asp-controller="Access" asp-action="Login">Đăng Nhập</a></p>

                <button type="submit" class="submit-btn">Đăng Ký</button>
            </form>
        }
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/register.js"></script>
